.smex-items
*~
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
elpa
melpa-stable
archive-contents
*.elc
*.lsp*
.cache
transient
*.sqlite
.DS_Store
recentf
.dap-breakpoints
.extension/
.mc-lists.el
dap-ui-repl-go-history
network-security.data
projects
url